td , table{
    border: 1px solid rgb(218, 224, 224);
    border-collapse: collapse;
    color: rgb(70, 67, 67);
    padding: 7px;

}

table {
    width: 98%;
    border: hidden;
    border-bottom: 1px solid rgb(194, 199, 199);
    
  }


table tr th {
    padding: 0px 0px 22px 0px;
  
}